application:
  # grist is a modern spreadsheet application
  grist:
    enabled: true
    namespace: ~
    defaultLocale: ""
    orgInPath: true
    singleOrg: ""

  # this creates a self hosted AI LLM system using Ollama. It can handle small loads.
  ai:
    enabled: true
    namespace: ~

  # keycloak is an identity and access management solution. If you have your own identity provider please disable this system and configure the OIDC settings in the authentication.yaml file.
  keycloak:
    enabled: true
    namespace: ~

  # chat is a matrix based chat solution
  chat:
    enabled: true
    namespace: ~
    synapse:
      registrationSharedSecret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "synapse" "registrationSharedSecret" | sha1sum | quote }}
      formSecret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "synapse" "formSecret" | sha1sum | quote }}

  nextcloud:
    enabled: true
    adminUser: admin
    adminPassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "nextcloud" "adminPassword" | sha1sum | quote }}
    namespace: ~
