---
### This file contains all the kubernetes cluster-wide settings, please edit it to match your environment.
cluster:
  networking:
    domain: cluster.local
    podSubnet:
      - "10.244.0.0/16"
    serviceSubnet:
      - "10.96.0.0/12"

  ingress:
    # allowed types are nginx, haproxy-openshift, or none. If you want support for other ingress controllers, please create a PR
    # nginx: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/
    # haproxy-openshift: https://docs.redhat.com/en/documentation/openshift_container_platform/4.14/html/networking/configuring-routes
    type: nginx
    className: ~
    annotations: ~

  sandbox:
    gvisor:
      enabled: false

  service:
    # select the available implementation. this can be ClusterIP, NodePort, or LoadBalancer
    type: ClusterIP

  certificate:
    issuerRef:
      name: letsencrypt-prod
      kind: ClusterIssuer
