bases:
  - "../../bases/default.yaml.gotmpl"

repositories:
  - name: bitnami-postgres
    oci: {{ .Values.chart.postgresql.oci }}
    url: "{{ .Values.chart.postgresql.registry | default .Values.chart.default.registry }}/{{ .Values.chart.postgresql.repository }}"
    verify: {{ .Values.chart.postgresql.verify }}
    username: {{ .Values.chart.postgresql.username | quote }}
    password: {{ .Values.chart.postgresql.password | quote }}

  - name: bitnami-redis
    oci: {{ .Values.chart.redis.oci }}
    url: "{{ .Values.chart.redis.registry  | default .Values.chart.default.registry  }}/{{ .Values.chart.redis.repository }}"
    verify: {{ .Values.chart.redis.verify }}
    username: {{ .Values.chart.redis.username | quote }}
    password: {{ .Values.chart.redis.password | quote }}

  - name: bitnami-minio
    oci: {{ .Values.chart.minio.oci }}
    url: "{{ .Values.chart.minio.registry  | default .Values.chart.default.registry  }}/{{ .Values.chart.minio.repository }}"
    verify: {{ .Values.chart.minio.verify }}
    username: {{ .Values.chart.minio.username | quote }}
    password: {{ .Values.chart.minio.password | quote }}

releases:
  - name: nextcloud-postgresql
    chart: "bitnami-postgres/{{ .Values.chart.postgresql.name }}"
    version: {{ .Values.chart.postgresql.version | quote }}
    namespace: {{ .Values.application.nextcloud.namespace }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.nextcloud.enabled) | toYaml }}
    values:
      - "values-postgresql.yaml.gotmpl"

  - name: nextcloud-redis
    chart: "bitnami-redis/{{ .Values.chart.redis.name }}"
    version: {{ .Values.chart.redis.version | quote }}
    namespace: {{ .Values.application.nextcloud.namespace }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.nextcloud.enabled) | toYaml }}
    values:
      - "values-redis.yaml.gotmpl"

  - name: nextcloud-minio
    chart: "bitnami-minio/{{ .Values.chart.minio.name }}"
    version: {{ .Values.chart.minio.version | quote }}
    namespace: {{ .Values.application.nextcloud.namespace }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.nextcloud.enabled) | toYaml }}
    values:
      - "values-minio.yaml.gotmpl"

  - name: nextcloud
    chart: charts/nextcloud
    condition: application.nextcloud.enabled
    dependencies:
    - chart: "oci://{{ (coalesce .Values.chart.bitnamicommon.registry .Values.chart.default.registry ) }}/{{ .Values.chart.bitnamicommon.repository }}/{{ .Values.chart.bitnamicommon.name }}"
      version: 2.31.3
    namespace: {{ .Values.application.nextcloud.namespace }}
    {{- if and (eq .Environment.Name "demo") ( .Values.application.nextcloud.enabled) }}
    needs:
      - {{ .Values.application.nextcloud.namespace }}/nextcloud-postgresql
      - {{ .Values.application.nextcloud.namespace }}/nextcloud-redis
      - {{ .Values.application.nextcloud.namespace }}/nextcloud-minio
    {{- end }}
    values:
      - "values.yaml.gotmpl"
